/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
li,
span {
    color: rgb(201, 201, 201);
}

h2,
h3 {
    color: white;
    margin-bottom: 10px;
}

h4 {
    margin-top: 1rem;
}

li,
a,
span {
    font-weight: 600;
}

span {
    display: block;
    margin-bottom: 10px;
}

.fa-plus {
    padding: 10px;
    color: black;
    background-color: gainsboro;
}

/* GLOBAL CLASSES */

.button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 99px;
    font-size: 0.8rem;
    text-align: center;
}

.button:hover {
    padding: 15px 25px;
}

.svg-container {
    width: 25px;
}

/* GLOBAL ELEMENTS POSITION */

#main-container {
    display: flex;
    height: calc(100vh - 100px);
}

#main-container nav {
    width: 230px;
    background-color: #000000;
}

main {
    width: calc(100% - 230px);
    overflow: auto;
}

main ul li:hover {
    cursor: pointer;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem;
    height: 100px;
    top: 0;
    position: sticky;
    background-color: #080b12b2;
}

footer {
    height: 100px;

    /*DEBUG*/
    background-color: lightblue;
}

/* SIDE NAVIGATION */

#side-navigation {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

#side-navigation ul {
    margin-bottom: 1rem;
}

#side-navigation ul li:hover,
#side-navigation a:hover,
#side-navigation span:hover {
    color: white;
    cursor: pointer;
}

#logo {
    width: 150px;
    margin-bottom: 1rem;
}

#side-navigation ul img,
#side-nav-bottom img {
    width: 25px;
    cursor: pointer;
}

#playlist {
    overflow: auto;
}

#side-nav-bottom {
    margin-top: auto;
}

#side-navigation li,
#side-nav-bottom span,
#side-nav-bottom h3 {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* MAIN NAVIGATION TOP */

main {
    background-color: #141922;
}

main ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 1rem;
    font-size: 0.8rem;
}

/* SECTION */

section {
    padding: 1rem;
}

/* MAIN CONTENT - CARDS */

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 5rem;
}

.img-container {
    position: relative;
}

.fa-play {
    display: none;
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container:hover .fa-play {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
}


.card,
.card-popular {
    text-align: center;
    color: white;
    width: calc(100% / 6 - 1rem);
}

.card-popular img {
    border-radius: 50%;
}

@media screen and (max-width:1024px) {

    .card,
    .card-popular {
        width: calc(100% / 4 - 1rem);
    }
}

@media screen and (max-width:680px) {

    .card,
    .card-popular {
        width: calc(100% / 2 - 1rem);
    }
}

/* FOOTER - SPOTIFY PLAYER */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: white;
    background-color: #222;
    position: absolute;
    width: 100%;
    padding: 10px;
}

.footer-container {
    min-width: 15%;
}

.footer-container,
#player,
#song-playing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer img {
    width: 50px;
}

#player-container {
    width: 30%;
}

#volume-bar,
#player-bar {
    height: 5px;
    background-color: gray;
    width: 100%;
}

#song-playing span {
    margin: 0;
}