/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
    cursor: pointer;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
}

a,
li,
span {
    font-weight: 500;
}

/* MAIN CONTAINER */

#main-container {
    display: flex;
    height: calc(100vh - 100px);
}

/* NAVBAR */

nav {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 230px;
    overflow: hidden;
}

#playlist {
    overflow: auto;
}

/* NAVBAR STYLE */

#spotify-logo {
    width: 150px;
    margin: 1rem;
    margin-bottom: 2rem;
}

nav img {
    width: 25px;
}

nav h4 {
    color: white;
}

.fa-plus {
    background-color: lightgray;
    padding: 10px;
    font-size: 20px;
    color: #000000;
    margin-right: 5px;
}

nav span,
nav li,
nav a {
    color: lightgray;
}

nav ul li,
.user span {
    font-size: 0.8rem;
}

nav li,
.user span,
.user h4 {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav li,
nav span,
nav h4 {
    padding-left: 1rem;
}

.user {
    padding: 1rem;
}

.user-picture {
    background-color: lightgray;
    border-radius: 50%;
}

.user span {
    padding: 0;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.user h4 {
    padding: 0;
    padding-top: 10px;
}

nav ul {
    margin-bottom: 2rem;
}

/* NAVBAR HOVER */

nav li {
    position: relative;
}

nav li:active::before {
    content: "";
    height: 25px;
    width: 5px;
    display: block;
    background-color: #a2ff00;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    position: absolute;
}

nav li:hover,
nav a:hover,
nav span:hover {
    color: white;
    cursor: pointer;
}

nav .fa-plus:hover{
    background-color: white;
}

/* HEADER */

header {
    background-color: #080b12c4;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}

/* HEADER STYLE */

.button {
    border: 2px solid white;
    border-radius: 99px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
}

/* MAIN */

/* MAIN NAVBAR STYLE */

main ul li {
    color: lightgray;
    cursor: pointer;
    font-size: 0.8rem;
    position: relative;
}

/* MAIN NAVBAR */

main {
    width: calc(100% - 230px);
    overflow: auto;
    background-color: #141922;
}

main ul {
    background-color: #141922;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

/* MAIN NAVBAR HOVER */

main ul li:hover {
    color: white;
}

main ul li:active::after {
    content: "";
    height: 2px;
    width: 40px;
    display: block;
    background-color: #a2ff00;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}



/* MAIN SECTION */

section {
    padding: 1rem;
}

section h2,
section h4 {
    color: white;
}

section span {
    color: lightgray;
    font-size: 0.8rem;
}

/* MAIN CARDS */

.cards-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.card {
    width: calc(100% / 6 - 1rem);
    text-align: center;
}

.round-card {
    border-radius: 50%;
}

/* MAIN CARDS HOVER*/

/* background opacity on hover */

.card-img-container::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.30);
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.round-hover::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.30);
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card-img-container:hover::before {
    opacity: 1;
}

/* Play button on hover */

.card-img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fa-play {
    position: absolute;
    font-size: 2rem;
    color: white;
    display: none;
}

.card-img-container:hover .fa-play {
    display: block;
}


.round-hover:hover .fa-play {
    display: none;
}

/* FOOTER */

/* FOOTER STYLE */

footer h4,
#footer-middle,
#footer-right {
    color: white;
}

#footer-left img {
    width: 50px;
}

footer span {
    font-size: 0.8rem;
    color: lightgray;
}

#artist {
    margin-right: 10px;
}

#folders {
    color: lightgray;
}

#folders i {
    padding: 5px;
}

.music-bar,
.volume-bar {
    height: 5px;
    background-color: white;
    border-radius: 99px;
    width: 100%;
    cursor: pointer;
}

.volume-bar {
    width: 40%;
}

#player-control i {
    font-size: 20px;
}

#player-control .fa-circle-play {
    font-size: 30px;
}

/* FOOTER HOVER */

#player-control .fa-circle-play:hover {
    transform: scale(1.2);
}

/* FOOTER */

footer {
    height: 100px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

#footer-left,
#footer-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

#footer-middle {
    flex: 1;
}

#footer-right {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}

#player-control,
#music-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* MEDIA QUERIES */

/* MAIN CARDS MEDIA */

/* tablet */
@media screen and (max-width:980px) {
    .card {
        width: calc(100% / 4 - 1rem);
    }
}

/* smartphone */
@media screen and (max-width:650px) {
    .card {
        width: calc(100% / 2 - 1rem);
    }

    #footer-left img {
        display: none;
    }
}

/* Extra-small view */

#small-view-nav {
    background-color: #000000;
    display: none;
    width: 50px;
    overflow: hidden;
}

@media screen and (max-width:550px) {

    main {
        width: calc(100% - 50px);
    }

    nav {
        display: none;
    }

    #small-view-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #small-view-nav .nav-top,
    #small-view-nav .user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0.5rem;
    }

    #app-download {
        margin-right: 4px;
    }
}